/* Master Admin CSS */

html, body {
	margin: 0;
	padding: 0;
	font: 12px Helvetica, Arial, sans-serif;
  color: #111;
	background: #E6FFFD;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }

a { color: #111; }

table { width: 100%; margin: 10px 0; }
table tr th, table tr td { padding: 4px; }
table tr th { font-weight: bold; background: #c1c1c1; }
.odd { background: #e8e8e8; }
.even { background: #fff; }

h1#title { background: #111; margin: 0; padding: 10px; }
h1#title a { color: #c1c1c1; text-decoration: none; }
h1#title a:hover { text-decoration: underline; }

div#nav { height: 30px; background: url(../images/nav_bg.jpg) 0 0 repeat-x; }
div#nav ul { padding: 8px; }
div#nav ul li { display: inline; padding: 10px 30px 0 4px; }
div#nav ul li a { text-decoration: none; color: #111; font-size: 14px; }
div#nav ul li a:hover { color: #fff; }

div#secondary_nav { float: right; border-left: 2px #ccc solid; border-bottom: 2px #ccc solid; width: 18%; margin: 0; }
div#secondary_nav h3 { background: #111; color: #c1c1c1; padding: 4px 6px; margin: 0; font-size: 14px; }
div#secondary_nav ul li a { background: #fff; display: block; text-decoration: none; padding: 4px 6px; }
div#secondary_nav ul li a:hover { background: #c1c1c1; }

div#content_wrapper { width: 78%; border: 2px #ccc solid; margin: 10px 0 10px 10px; background: #fff; min-height: 546px; }
div#content_wrapper h2 { background: #ccc; margin: 0; padding: 14px 10px; color: #fff; }
div#content_wrapper div#content { padding: 10px; }

div#loading {
	position: absolute;
	width: 100px;
	height: 26px;
	top: 0;
	right: 0;
	background: #fff url(../images/loading.gif) 4px 4px no-repeat;
	border: 2px #ccc solid;
	border-top: none;
	border-right: none;
}
div#loading p { margin: 7px 0 0 28px; font-weight: bold;}

.cb { clear:both; }